.container-s {
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
}

.container-m {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}