// Fuentes
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
$fontPrincipal: "Lato", sans-serif;

// Size de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$blue: #6794c8;
$red: #cb3e25;
$green: #4db72f;
$black: #2d3137;
$white: #ffffff;
$purple: rgb(141, 107, 255);
$gray: #e8eef3da;
$darkGray: #58585c;
