// Fuentes
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
$fontPrincipal: "Lato", sans-serif;

// Size de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$black: #2d3137;
$white: #ffffff;
$blue: #04bfe6;
$red: #cb3e25;
$green: #00e0b6;
$purple: #da35ff;
$yellow: #fea951;
$gray: #e8eef3da;
$darkGray: #58585c;

$dark: #08071b;
