@use "../base/variables" as v;
@use "../base/mixins" as m;

.formulary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  &__button {
    border: 2px solid v.$blue;
    @include m.button_input(v.$white);
    max-width: 20rem;
    background: transparent;
    //background: linear-gradient(to right, v.$blue, v.$purple);
    //box-shadow: 0 0 10px 1px rgba(231, 123, 255, 0.2);

    transition: 0.2s;

    &:hover {
      color: v.$black;
      background-color: v.$blue;
      box-shadow: 0 0 10px 3px rgba(4, 191, 230, 0.2);
    }
  }

  &__label{
    width: 100%;
    text-align: left;
    color: v.$purple;
  }

  &__select{
    @include m.button_input(v.$black);
    border: none;
    border-radius: 5rem;
    font-size: 1.8rem;
    background-color: v.$green;
    transition: 0.2s;
    text-align: center;

    &:hover {
      box-shadow: 0 0 10px 1px rgba(0, 224, 182, 0.3);
    }
  }
}
