@use "../base/variables"as v;
@use "../base/mixins"as m;

.formulary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  &__button {
    margin-top: 5rem;
    border: none;
    @include m.button_input(v.$white);
    max-width: 20rem;
    background: linear-gradient(to right, v.$violet, v.$purple);
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;


    &:hover {
      box-shadow: 0 0 10px 3px rgba(114, 100, 255, 0.3);
    }
  }

  .clicked-button {
    transform: scale(0.9);
  }

  &__label {
    width: 100%;
    text-align: left;
    color: v.$white;
  }

  &__select {
    @include m.button_input(v.$black);
    border: none;
    border-radius: 2rem;
    font-size: 1.8rem;
    background-color: v.$green;
    transition: 0.2s;
    text-align: center;

  }
}